<% query = @query %>
<%= hidden_field_tag 'set_filter', '1' %>
<%= hidden_field_tag 'type', @query.type, :disabled => true, :id => 'query_type' %>
<%= query_hidden_sort_tag(@query) %>

<div id="query_form_content" class="easy-query-filter-container with-freetext">
  <div class="easy-query-heading">
    <div class="buttons contextual">
      <div class="filters open" id="easy-query-toggle-button-filters">
        <a href="javascript:void(0);">
          <i class="icon-toggler"></i>Filters<span class="default-filter">default</span></a>
      </div>
      <script type="application/javascript">
          //<![CDATA[
          EasyGem.schedule.late(function(){
              $("#easy-query-toggle-button-filters").bind('click', function(e, el) {
                  EASY.utils.toggleDivAndChangeOpen('filters', "#easy-query-toggle-button-filters");
                  EASY.query.toggleFilterButtons('filter_buttons', '.easy-query-filter-toggle');
              });
          }, 0);
          //]]>
      </script>
      <div class="settings" id="easy-query-toggle-button-settings">
        <a href="javascript:void(0);">
          <i class="icon-toggler"></i>
          Options</a>
      </div>
      <script type="application/javascript">
          //<![CDATA[
          EasyGem.schedule.late(function(){
              $("#easy-query-toggle-button-settings").bind('click', function(e, el) {
                  EASY.utils.toggleDivAndChangeOpen('filters_settings', "#easy-query-toggle-button-settings");
                  EASY.query.toggleFilterButtons('filter_buttons', '.easy-query-filter-toggle');
              });
          }, 0);
          //]]>
      </script>
    </div>
  </div>

  <div class="easy-query-filter-settings">
    <div id="filters" class="easy-query-filter-toggle gray-background filters collapsible" style="display: block;">

      <div id="easyquery-filters" class="easyquery-filters">
        <div class="add-filter tabular">
          <p>
          <div id="query_form_with_buttons" class="hide-when-print">
            <div id="query_form_content">
              <div style="<%= @query.new_record? ? "" : "display: none;" %>">
                <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
              </div>
              </fieldset>
            </div>
          </div>
          </p>
        </div>

      </div>

    </div>
    <div id="filters_settings" class="easy-query-filter-toggle gray-background others collapsible collapsed" style="display: none;">

      <div id="outputs_settings">
        <div class="list_settings output-settigs-box" data-output="list" style="">
          <%= render partial: 'column_query', locals: {query: @query, options: {}} %>
        </div>
      </div>
    </div>
  </div>


  <p id="filter_buttons" class="form-actions filter-buttons" style="display: block;">
    <%= link_to_function l(:button_apply), '$("#query_form").submit()', :class => 'icon icon-checked apply-link button-positive' %>
    <%= link_to l(:button_clear), { :set_filter => 1, :sort => '', :project_id => @project }, :class => 'icon icon-reload clear-link button-negative'  %>
    <% if @query.new_record? %>
      <% if User.current.allowed_to?(:save_queries, @project, :global => true) %>
        <%= link_to_function l(:button_save),
                             "$('#query_type').prop('disabled',false);$('#query_form').attr('action', '#{ @project ? new_project_query_path(@project) : new_query_path }').submit()",
                             :class => "icon icon-save save-link button" %>
      <% end %>
    <% else %>
      <% if @query.editable_by?(User.current) %>
        <%= link_to l(:button_edit), edit_query_path(@query), :class => 'icon icon-edit button-positive' %>
        <%= delete_link_query query_path(@query) %>
      <% end %>
    <% end %>
  </p>

</div>