<h2>Requests</h2>

<%= form_tag(change_deadlines_path, :method => :get, :id => 'query_form') do %>
  <%= render :partial => 'change_deadlines/date_range', locals: {options: {}} %>
<% end %>

<% if @query.valid? %>
  <% if @requests.empty? %>
    <p class="nodata">No data to display</p>
  <% else %>
    <%= render_query_totals(@query) %>
    <%= render :partial => 'list', :locals => {:requests => @requests, :query => @query} %>
    <span class="pagination"><%= pagination_links_full @request_pages, @request_count %></span>
  <% end %>
<% end %>

<% content_for :sidebar do -%>
  <div class="module box easy-issue-query saved-queries personal-filters  collapsible" data-toggle="_user-easyquery_EasyIssueQuery_private">
    <div class="module-heading " onclick="EasyToggler.toggle(this.nextElementSibling, event)">
      <span class="expander module-toggler"> </span>
      <h3 class=" icon icon-filter">Custom filters</h3>
    </div>
      <% queries = sidebar_queries(RequestChangeDeadlineQuery, @project) %>
      <%= change_deadline_query_links(queries) %>
  </div>
<% end -%>

<%= context_menu %>

<style>
  .collapsed#filters, .collapsed#filters_settings, .collapsed#custom_formatting, .collapsed#modal_selectorfilters, .collapsed#modal_selectorcustom_formatting, .collapsed#modal_selectorfilters_settings{
    opacity: 1;
  }
</style>