<h1><%= link_to("Request: #{request.id} / Reason: #{request.reason}", request_url) %></h1>

Requester : <%= user.firstname %> <%= user.lastname %><br>
Issue(s): <br>
<% issues.each do |issue| %>
  Issue_<%= issue.id %> : <%= link_to_issue request.issue %><br>
<% end %>
Project_<%= request.project_id %> : <%= link_to_project request.project %><br>
Reason : <%= request.reason %>
